@page
@model Zealand_semester1_eksamen.Pages.Medlemmer.IndexModel

<h1>Medlemmer</h1>

<p>
    <a asp-page="Opret">Opret nyt medlem</a>
</p>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Email</th>
        <th>Handling</th>
    </tr>

    @foreach (var m in Model.Medlemmer)
    {
        <tr>
            <td>@m.MedlemId</td>
            <td>@m.Navn</td>
            <td>@m.Email</td>
            <td>
                <a asp-page="Rediger" asp-route-id="@m.MedlemId">Rediger</a> |
                <a asp-page="Slet" asp-route-id="@m.MedlemId">Slet</a>
            </td>
        </tr>
    }
</table>


